.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width:400px)
{
  #footer
  {
    font-size: smaller;
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 2%;
   
  }
  
  

  .header
  {
    display: "flex";
    flex-direction: "column";
    justify-content:"space-between";
    margin-left:"2%";
    margin-right:"2%";
    margin-top:"0.5%";
    flex-wrap:"wrap";
    width:85%
  }
  #header1
  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
     margin: 4%;
     width: 55%;
  }
  #header2
  {
    visibility: hidden;
    
  }
  #question-option
  {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    padding: 4px;
    
  }
  .question-box
  {
    height: fit-content;
    width: 90%;
    margin: 6px;
    padding: 2px;

  }
  #question-finish-button
  {
    position: relative;
    right: 100px;
    
  }

  #question-finish-button2
  {
    position: relative;
    left: 0%;
    
  }
  #dashboard-content
  {
   
    width: 250px;
    margin:-1%;
    position: relative;
    right: 50px;
    font-size: smaller;
  }
  #dashboard-choose-image
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
    
  }
  #signin
  {
    display: none;
  }
  #signup
  {
    width: 500px;
    position: relative;
    right: 70px;
   
  }
 
 
 
}

@media only screen and (max-width:800px)
{
  #footer
  {
    font-size: smaller;
    display: flex;
    
    flex-direction: "column";
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 2%;
   
  }
}

@media only screen and (max-width:1200px)
{
  #footer
  {
    font-size: smaller;
    display: flex;
    
    flex-direction: "column";
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 2%;
   
  }
  .header
  {
    display: "flex";
    flex-direction: "column";
    justify-content:"space-between";
    margin-left:"2%";
    margin-right:"2%";
    margin-top:"0.5%";
    flex-wrap:"wrap";
    width:85%
  }
  #header1
  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
     margin: 4%;
     width: 55%;
  }
  #header2
  {
    visibility: hidden;
    
  }
  #question-option
  {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    padding: 4px;
    
  }
  .question-box
  {
    height: fit-content;
    width: 100%;
    margin: 6px;
    padding: 2px;

  }
  #question-finish-button
  {
    position: relative;
    right: 100px;
    
  }

  #question-finish-button2
  {
    position: relative;
    left: 0%;
    
  }
  #dashboard-content
  {
   
    width: 250px;
    margin:-1%;
    position: relative;
    right: 50px;
    font-size: smaller;
  }
  #dashboard-choose-image
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
    
  }
  #signin
  {
    display: none;
  }
  #signup
  {
    width: 500px;
    position: relative;
    right: 70px;
   
  }
 
 
 
}

